@import "~zen-css/import";
@import "~styles/lib/extenders";

page-login {
    @extend %page;
    @extend %bg-waves;

    .logo, form {
        width: 100%;
    }
    .center {
        text-align: center;
        background-color: var(--card-bg);
        width: 48rem;
        box-shadow: var(--shadow-main-soft);

        zen-ui-form {
            text-align: left;
        }
    }
}
