@import "~origami-css/import";
@import "~styles/lib/extenders";

:host {
    width: size('main');
    height: size('main');

    & {
        display: inline-block;
        vertical-align: middle;
    }
    svg {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;

        @each $name, $color in $colors {
            &.#{$name} use {
                fill: $color;
            }
        }
    }



}


@each $size, $val in $sizes {
    :host-context([size="#{$size}"]) {
        width: size($size);
        height: size($size);
    }
}
