@import '~zen-css/import';

:host {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    min-width: default('size-small');
    min-height: default('size-small');
    background-image: url(/content/profiles/default);
    background-size: 100%;

    .avatar, img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}
