@import "~zen-css/import";
// @import "~zen-css/helpers";
// @import "~styles/lib/extenders";

zen-sidebar {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: default('size-huge');
    background-color: var(--color-white);
    z-index: 1;
    box-sizing: border-box;
    // border-right: default('border-200');
    // border-width: 1px;
    box-shadow: 0.5rem 0 2rem var(--color-main-soft);


    wc-link.top-link {
        height: default('size-huge');
        line-height: default('size-huge');
        text-align: center;

        &.active {
            background: var(--gradient-main);
            img {
                filter: brightness(10);
            }
        }
    }

    img.logo {
        vertical-align: middle;
    }

    img.logo-text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: default('size-main') auto;
    }

    wc-link.top-link, .search {
        border-bottom: default('border-100');
    }

    ul.apps {
        font-size: 0;
        li {
            display: inline-block;
            width: 100%;
            height: default('size-huge');
            text-align: center;
            clip-path: url(#sidebar-app-clip);
            border-bottom: default('border-100');

            wc-link {
                padding: default('size-tiny');
                transition: all default('transition-time');

                .app {
                    width: 100%;
                    height: 100%;
                    transition: all default('transition-time');
                    opacity: 0.7;
                }

                &.active {
                    padding: 0;
                    .app {
                        border-radius: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
}


