<template id="app">
    <li class="position-r">
        <wc-link class="cover">
            <div class="app rounded">
                <zen-ui-icon color="white" class="center" size="main"></zen-ui-icon>
            </div>
        </wc-link>
    </li>
</template>


<aside>
    <wc-link to='/' class="top-link display-b">
        <img class="logo width-main" />
    </wc-link>

    <div class="search width-huge height-huge position-r">
        <zen-ui-icon type="search" color="main" size="main" class="center"></zen-ui-icon>
    </div>

    <img class="logo-text height-small" />

    <ul class="apps"></ul>
</aside>
