@import '~origami-css/import';
main {
    // Sidebar offset
    margin-left: 30rem;
    padding: size('main');
}


zen-sidebar {
    opacity: 1;
    transition: all 10s;
    &:unresolved {
        opacity: 0;
    }
}
