@import '~zen-css/import';
main {
    // Sidebar offset
    position: absolute;
    left: default('size-huge');
    top: default('size-huge');
    bottom: 0;
    right: 0;
    padding: default('size-main');
}


zen-sidebar {
    opacity: 1;
    transition: all 10s;
    &:unresolved {
        opacity: 0;
    }
}
