@import '~origami-css/import';

:host {
    display: block;
}

span.error {
    display: block;
    margin-bottom: 1rem;

    &:empty { display: none; }
}


wc-wysiwyg {
    background-color: color('main-softest');
    padding: $input-padding;
    border-radius: $input-border-radius;
}
