@import '~zen-css/import';

:host {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-left: -2rem;
    width: calc(100% + 4rem);

    header {
        padding: 0 2rem;
    }
    .table {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        padding: 2rem;


        & > div.header {
            background-color: transparent;
            box-shadow: none;

            & > span {
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                color: color('shade-2');
            }
        }

        & > div {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            background-color: color('white');
            height: 5rem;
            line-height: 5rem;
            margin-bottom: default('size-tiny');

            @extend %shadow-shade-1;
            @extend %rounded;



            & > span {
                flex-flow: row nowrap;
                flex-grow: 1;
                flex-basis: 0;
                word-break: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0 default('size-small');
                min-width: 0;

                &.fixed {
                    flex-grow: 0;
                }
            }
        }
    }


}
